<!-- <table mat-table [dataSource]="allEvents" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td *ngFor="let event of allEvents">{{ event.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td *ngFor="let event of allEvents">{{ event.name }}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td *ngFor="let event of allEvents">{{ event.location }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td *ngFor="let event of allEvents">{{ event.price }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->

>
<div class="container">
  <table id="eventsTable">
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Location</th>
      <th>Prices</th>
    </tr>
    <tr *ngFor="let event of allEvents; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.price }}</td>
    </tr>
  </table>
</div>
