
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="booking-page.component.css">
</head>
<body>
    <div id="rect1">
        <div id="book">
            Booking your ticket from the comfort of your desktop!   
         </div>
    </div>
    <form id="f1">
        
            <h3>Choose Ticket Type</h3>
        
            <input type="radio" name="types" value="plat" class="c">Platinum/VIP <br>
            <input type="radio" name="types" value="gold" class="c">Gold <br>
            <input type="radio" name="types" value="silver" class="c">Silver/Standard

    </form>
    <form id="f2">
        Number of Tickets
        <br>
        <input type="text" name="notck"size='1' maxlength="1"> 
        <div id="warn">Warning: Make sure that the specified number of tickets won't exceed 5 tickets</div>
    </form>
    <form id="f3">
        Additional Comments:
        <br>
        <textarea name="comments" cols="35" rows="10">Enter your comments</textarea>
    </form>
        <div id="pad">
            <a href="" id="btn" routeLink="/checkout-app">Proceed to Checkout</a>
         </div>
         <div id="img">
             <img src="../../../assets/images/328483-rock-concert-wallpaper-top-free-rock-concert-background.jpg">
         </div>
</body>
</html>

