<carousel
  [cellsToShow]="1"
  [autoplay]="true"
  [autoplayInterval]="2000"
  [height]="500"
>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/maroon5.png" onclick="book()" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u185.png" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u186.png" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u187.png" />
  </div>
</carousel>

<h1>Trending Now</h1>
<carousel [cellsToShow]="4" [autoplay]="false" [height]="200" [cellWidth]="130">
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/maroon5.png" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u185.png" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u186.png" />
  </div>
  <div class="carousel-cell">
    <img src="../../../assets/Carousel/u187.png" />
  </div>
</carousel>

<a routerLink="/booking-page" routerLinkActive="active">BOOK</a>
