<body>
  <carousel
    [cellsToShow]="1"
    [autoplay]="true"
    [autoplayInterval]="2000"
    [height]="500"
  >
    <div class="carousel-cell">
      <a routerLink="/booking-page">
        <img src="../../../assets/Carousel/maroon5.png"
      /></a>
    </div>
    <div class="carousel-cell">
      <a routerLink="/booking-page">
        <img src="../../../assets/Carousel/u185.png"
      /></a>
    </div>

    <div class="carousel-cell">
      <a routerLink="/booking-page">
        <img src="../../../assets/Carousel/u186.png"
      /></a>
    </div>

    <div class="carousel-cell">
      <a routerLink="/booking-page">
        <img src="../../../assets/Carousel/u187.png"
      /></a>
    </div>
  </carousel>

  <h2>Trending Now</h2>
  <carousel
    [cellsToShow]="4"
    [autoplay]="false"
    [height]="200"
    [cellWidth]="130"
  >
    <div class="carousel-cell">
      <img src="../../../assets/Carousel/maroon5.png" />
    </div>
    <div class="carousel-cell">
      <img src="../../../assets/Carousel/u185.png" />
    </div>
    <div class="carousel-cell">
      <img src="../../../assets/Carousel/u186.png" />
    </div>
    <div class="carousel-cell">
      <img src="../../../assets/Carousel/u187.png" />
    </div>
  </carousel>
</body>
