<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body id="footer">
    <table>
      <tr>
        <td id="find-a-store">
          <a href="#">FIND A STORE</a>
        </td>
        <td id="get-help">
          <a href="#"> GET HELP</a>
        </td>
        <td id="about-us">
          <a href="#">ABOUT US</a>
        </td>
        <td id="logos">
          <a href="http://twitter.com"
            ><img src="../../../assets/images/twitter_logo.png" id="logo"
          /></a>
          <a href="http://facebook.com"
            ><img src="../../../assets/images/facebook_logo.png" id="logo"
          /></a>
          <a href="http://instagram.com"
            ><img src="../../../assets/images/instagram_logo.jpg" id="logo"
          /></a>
          <a href="http://youtube.com"
            ><img src="../../../assets/images/youtube_logo.png" id="logo"
          /></a>
        </td>
      </tr>
      <tr>
        <td id="sign-up-for-email">SIGN UP FOR EMAIL</td>
        <td id="payment-options">PAYMENT OPTIONS</td>
        <td id="news">NEWS</td>
      </tr>
      <tr>
        <td id="become-a-member">BECOME A MEMBER</td>
      </tr>
      <tr>
        <td id="send-us-feedback">SEND US FEEDBACK</td>
      </tr>
    </table>
  </body>
</html>
