a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

#footer {
  width: 100%;
  height: 344px;
  border: 1px solid rgba(121, 121, 121, 0);
  background-color: #000000;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
}

td {
  width: 400px;
  text-align: left;
  height: 12px;
  font-size: 10px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  line-height: normal;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

#logos {
  display: inline-block;
  width: fit-content;
  text-align: right;
  line-height: normal;
  padding-top: 50px;
  right: 60px;
  z-index: 1;
  position: absolute;
}

#logo {
  position: relative;
  width: 34px;
  height: 34px;
  padding-left: 10px;
}

div {
  display: inline-block;
  margin-right: 25px;
  color: #ffffff;
  margin-left: 10px;
}

#location {
  margin-right: 600px;
}

.grey {
  color: grey;
}

table {
  margin-bottom: 40px;
}

hr {
  margin-bottom: 40px;
}