<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    
</head>
<body>
    <form id="f1">
        <div id="ba" >
            Billing Address *
        </div>
        <input type="text" name="baddress" id="tf">
    </form>
    <form id="f2">
        <div id="ba2" >
            Billing Address 2
            <div id="op">
                (optional)
            </div>
        </div>
        <input type="text" name="baddress" id="tf">
    </form>
   <div id="right">
       <div id="fo1">Order Summary</div>
       <div id="fo2">Event Name</div>
       <div id="ano">1- XXXXXXXXXXXX<br>
        2- XXXXXXXXXXXX<br>
        3- XXXXXXXXXXXX
        </div>
        <div id="fo3">Ticket(s) Type</div>
        <div id="anotck">1- 2X GOLD <br>
            2- 1X Platinum/VIP <br>
            3- 4X Silver/Standard

        </div>
        <div id="fo4">Promo Code</div>
        <input type="text" name="promo" id="p1">
        <div><a href="" id="btn1">Redeem</a></div>
        <div id="fo5">
            Total:
        </div>
        <div id="price">$ 0.00</div>
        <div><a href='' id='btn2'>Book</a></div>
        
   </div>
</body>
</html>
