body {
  align-items: center;
}

.menubar {
  position: relative;
}

h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
}

.menu li {
  float: right;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  cursor: pointer;
  color: white;
}

.list {
  border: 1px solid;
  border-radius: 10px;
  display: inline block;
  position: absolute;
  padding: 10px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown li {
  color: #eeeeee;
  list-style-type: none;
  float: left;
  margin-left: 0px;
}

.dropdown li:hover {
  color: black;
  cursor: pointer;
}

.menu :hover .list {
  display: block;
}

.header {
  position: relative;
  width: 100%;
  padding: 0px;
  display: flex;
  margin-top: 5px;
  border: black 1px solid;
  border-radius: 25px;
}

.logo {
  width: 60px;
  margin-left: 20px;
}

.category:hover .list {
  display: block;
}

.category {
  list-style-type: none;
}

.category li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.category li a:hover {
  cursor: pointer;
}

.icons {
  margin-top: 20px;
  right: 0px;
  position: absolute;
  margin-right: 20px;
}

a {
  color: black;
  font-size: larger;
}

a.active {
  color: red;
<<<<<<< HEAD
}
=======
}
i {
  margin-left: 20px;
}
>>>>>>> 31a0234245e30394925cfa3d86052982f91de95f
