<html>
  <header>
    <title>Profile page</title>
  </header>
  <body class="container">
    <div class="ProfileNav">
      <div class="HomeBTN">Home</div>
      <div class="NotifyBTN">Notifications</div>
      <div class="MsgBTN">Messages</div>
      <div class="UNbtn">User Name</div>
      <div class="ProfilePicNav"></div>
    </div>
    <div class="CoverPic"></div>
    <div class="ProfilePic"></div>
    <div class="UserName">UserName</div>
    <div class="Desc">
      <h2>Description</h2>
      <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sem
      sit amet mauris imperdiet elementum. Nunc leo diam, suscipit ut velit et,
      consectetur aliquam mauris. Proin varius placerat iaculis. Quisque in
      lacus et nulla mollis mattis vitae nec lorem. Donec sit amet finibus nisl.
      Nullam a est euismod, ultrices mi vitae, molestie est. Donec volutpat quam
      vehicula lacinia volutpat. Sed sed lorem ornare.
    </div>
    <div class="PrevBoughtTickets">
      <h2>Previously Bought Tickets</h2>
      <div class="M5Event">Maroon 5 Concert (Event Over)</div>
      <img class="M5img" src="../../../assets/images/M5.png" />
      <div class="Da7ee7Event">
        El Da7ee7 live performance (Event is on 20 May, Starts at 8 PM)
      </div>
      <img class="Da7ee7img" src="../../../assets/images/Da7ee7.png" />
      <div class="Booking">
        <a routeLink="/bookin-page">BOOK MORE EVENTS</a>
      </div>
    </div>
    <div class="SMBox">
      <h2>Social Media</h2>
      <img class="Insta" src="../../../assets/images/InstaLogo.png" />
      <img class="Face" src="../../../assets/images/FacebookLogo.png" />
      <img class="Twitter" src="../../../assets/images/TwitterLogo.png" />
    </div>
  </body>
</html>
